$basic-font: Opensans, Arial, sans-serif;
$second-font: Opensans-light, Arial, sans-serif;

$header-bg-image: url('/img/bg-back-mobile.jpg');

$white: #ffffff;
$gray: #f2f2f2;
$darkblue: #283645;
$green: 2aab6d;
$pink: d22856;


