$font: 'Open Sans', Arial, sans-serif;

$font-big: 24px;
$font-normal: 18px;
$font-small: 14px;
$font-less: 12px;

$height-big: 30px;
$height-normal: 24px;
$height-small: 18px;

$white: #ffffff;
$gray: #f2f2f2;
$darkblue: #283645;
$black: #000000;
$darkgreen: #2aab6d;
$green: #3dc644;
$pink: #d22856;
$red: #f25b26;

$tablet-width: "min-width: 700px";
$desktop-width: "min-width: 1200px";
$mobile-width-only: "max-width: 1199px";
