html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  width: 320px;
  margin: 0 auto;
  padding: 0;
  font-family: $font;
  font-size: $font-normal;
  line-height: $height-normal;
  @media ($tablet-width) {
    width: 700px;
  }
  @media ($desktop-width) {
    width: 1200px;
  }
}
.container {
  padding-left: $container-padding-mobile;
  padding-right: $container-padding-mobile;
  @media ($tablet-width) {
    padding-left: $container-padding-tablet;
    padding-right: $container-padding-tablet;
  }
  @media ($desktop-width) {
    padding: 0;
    max-width: 940px;
    margin: 0 auto;
  }
}

