.button {
  display: block;
  padding: 16px 20px;
  margin-bottom: 30px;
  border: 3px solid $white;
  border-radius: 30px;
  text-align: center;
  text-decoration: none;
  outline: none;
  font-family: $font;
  font-size: $font-normal;
  font-weight: bold;
  color: $white;
  line-height: $height-small;
  @media ($tablet-width) {
    margin-bottom: 45px;
  }
  @media ($desktop-width) {
    margin-bottom: 67px;
    font-size: 21px;
    font-weight: bold;
  }
  &--download {
    &:hover {
      background-color: $white;
      color: $pink;
    }
    &:active {
      color: lighten($pink, 30%);
    }
  }
  &--form {
    width: 280px;
    margin: 0 auto;
    background-color: $darkgreen;
    border: none;
    border-radius: 3px;
    line-height: $height-big;
    text-transform: uppercase;
    &:hover {
      background: #1c9b5e;
    }
    &:active {
      color: #7dbd99;
    }
    @media ($tablet-width) {
      width: 300px;
      margin: 0;
    }
    @media ($desktop-width) {
      font-size: $font-normal;
    }
  }
  &--upload {
    width: 100%;
    margin: 0;
    margin-bottom: 12px;
    background-color: #f2f2f2;
    outline: none;
    color: $pink;
    border-color: $pink;
    @media ($desktop-width) {
      width: 186px;
    }
    &:hover {
      background-color: $pink;
      color: $white;
    }
    &:active {
      color: #e08195;
    }
  }
  &--reset {
    width: 100%;
    margin: 0;
    margin-bottom: 12px;
    background-color: #f2f2f2;
    outline: none;
    border-color: #dddfe0;
    color: #e3e4e4;
    @media ($desktop-width) {
      width: 186px;
    }
    &:hover {
      border-color: #b5b9be;
      color: #c4c6c8;
    }
    &:active {
      background-color: #b5b9be;
      color: #cdd0d3;
    }
  }
  &--modal {
    margin: 0 auto;
    @media ($desktop-width) {
      width: 460px;
    }
  }

}
.button__wrap {
  @media ($tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    order: 6;
  }
  @media ($desktop-width) {
    width: 100%;
  }
}
