.contacts-block {
  margin: 0;
  padding-top: 24px;
  padding-bottom: 40px;
  padding-left: 0;
  padding-right: 0;
  border: none;
  @media ($desktop-width) {
    width: 100%;
  }
  .form__subtitle {
    display: none;
    @media ($tablet-width) {
      display: block;
    }
  }
  @media ($tablet-width) {
    order: 3;
    margin-bottom: 57px;
    padding-bottom: 26px;
    border: 2px solid #e5e5e5;
  }
  @media ($desktop-width) {
    padding-bottom: 12px;
  }
}
.contacts-block__wrap {
  @media ($tablet-width) {
    display: flex;
    flex-direction: column;
  }
  @media ($desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 58px;
    padding-right: 58px;
    padding-top: 10px;
  }

}
.contacts-block__wrap-phone {
  @media ($tablet-width) {
    display: flex;
    flex-direction: column-reverse;
  }
  @media ($desktop-width) {
    width: calc(100%/2 - 34px);
  }
  .form__label {
    @media ($tablet-width) {
      padding-top: 10px;
      padding-left: 59px;
    }
  }
  .form__text {
    @media ($tablet-width) {
      margin: 0 auto;
      margin-top: 14px;
      width: 500px;
      flex-basis: 63px;
    }
  }
}
.contacts-block__wrap-email {
  @media ($tablet-width) {
    display: flex;
    flex-direction: column-reverse;
  }
  @media ($desktop-width) {
    width: calc(100%/2 - 34px);
  }
  .form__label {
    @media ($tablet-width) {
      padding-top: 9px;
      padding-left: 59px;
    }
  }
  .form__text {
    @media ($tablet-width) {
      margin: 0 auto;
      margin-top: 30px;
      width: 500px;
      flex-basis: 63px;
    }
  }
}
