.contacts-block {
  margin: 0;
  padding-top: 24px;
  padding-bottom: 52px;
  padding-left: 0;
  padding-right: 0;
  border: none;
  @media ($tablet-width) {
    padding-top: 38px;
    padding-left: 58px;
    padding-right: 58px;
  }
  @media ($desktop-width) {
    width: 100%;

  }
  .form__subtitle {
    display: none;
    @media ($tablet-width) {
      display: block;
    }
  }
  @media ($tablet-width) {
    order: 3;
    margin-bottom: 57px;
    padding-bottom: 21px;
    border: 2px solid #e5e5e5;
  }
  @media ($desktop-width) {
    padding-bottom: 7px;
    padding-top: 34px;
  }
}
.contacts-block__wrap {
  display: flex;
  flex-direction: column;
  @media ($tablet-width) {
  }
  @media ($desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .input:not(:first-of-type){
    margin-top: 11px;
    @media ($tablet-width) {
      margin-top: 22px;
    }
    @media ($desktop-width) {
      margin-top: 0;
    }
  }
}


