.features {
  .features__group {
    background-color: $gray;
  }
  .features__wrap-title {
    @include container-fluid;
    @media ($mobile-width-only) {
      padding-left: 20px;
      padding-right: 20px;
    }
    @media ($desktop-width) {
      margin-bottom: 37px;
    }
  }
  .features__wrap {
    @include container-fluid;
    @media ($mobile-width-only) {
      padding-left: 20px;
      padding-right: 20px;
    }
    @media ($tablet-width) {
      display: flex;
      flex-direction: row-reverse;
    }
    @media ($desktop-width) {
      width: 87.23%;
      flex-direction: column-reverse;
    }
  }
  .features__title {
    padding-top: 40px;
    margin: 0;
    text-align: center;
    font-weight: 300;
    font-size: $font-big;
    line-height: $height-big;
    color: $darkblue;
    @media ($tablet-width) {
      padding-top: 60px;
      font-size: 40px;
    }
    @media ($desktop-width) {
      font-size: 50px;
    }
  }
  .features__title:first-of-type {
    @media ($desktop-width) {
      padding-top: 82px;
    }

  }
  .features__title:last-of-type {
    padding-top: 26px;
    padding-bottom: 63px;
    @media ($tablet-width) {
      width: 350px;
      margin: 0 auto;
      padding-top: 8px;
      padding-bottom: 45px;
      line-height: 48px;
    }
    @media ($desktop-width) {
      width: 50%;
      padding-top: 20px;
      line-height: 56px;
    }
  }
  .features__img-wrap {
    margin: 0 auto;
    margin-top: 40px;
    width: 160px;
    height: 280px;
    background: url("../../img/iphone-screen-mobile.png") no-repeat;
    @media ($tablet-width) {
      width: 300px;
    }
  }

}
