.features {
}

.features__group {
    background-image: linear-gradient(175deg, $white 4%, $gray 4%);
  @media ($tablet-width) {
    background-image: linear-gradient(176deg, $white 9%, $gray 9%);
  }
  @media ($desktop-width) {
    background-image: linear-gradient(176deg, $white 13%, $gray 13%);
  }
}

.features__wrap-title {
  @media ($desktop-width) {
    margin-bottom: 37px;
  }
}

.features__wrap {
  @media ($tablet-width) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  @media ($desktop-width) {
    width: 87.23%;
    flex-direction: column-reverse;
  }
}

.features__title {
  padding-top: 40px;
  margin: 0;
  text-align: center;
  font-weight: 300;
  font-size: $font-big;
  line-height: $height-big;
  color: $darkblue;
  @media ($tablet-width) {
    padding-top: 60px;
    font-size: 40px;
  }
  @media ($desktop-width) {
    font-size: 50px;
  }
}

.features__title:first-of-type {
  @media ($desktop-width) {
    padding-top: 82px;
  }

}

.features__title:last-of-type {
  padding-top: 26px;
  padding-bottom: 28px;
  @media ($tablet-width) {
    width: 350px;
    margin: 0 auto;
    padding-top: 8px;
    padding-bottom: 45px;
    line-height: 48px;
  }
  @media ($desktop-width) {
    width: 50%;
    padding-top: 20px;
    line-height: 56px;
  }
}

.features__img-wrap {
  margin: 0 auto;
  margin-top: 40px;
  width: 160px;
  height: 280px;
  background-repeat: no-repeat;
  background-image: url("/img/iphone-screen-mobile.png");
  @media ($tablet-width) {
    width: 300px;
    height: 485px;
    margin: 0;
    background-size: 270px 550px;
    background-image: url("/img/iphone-screen-tablet-3@1x.png");
    background-position: 0 5px;
    @media #{$retina} {
      background-image: url("/img/iphone-screen-tablet-3@2x.png");
    }
  }
  @media ($desktop-width) {
    width: 940px;
    height: 300px;
    background:
      url("/img/iphone-screen-desktop-1@1x.png") 4px 0 no-repeat,
      url("/img/iphone-screen-desktop-2@1x.png") 327px 0 no-repeat,
      url("/img/iphone-screen-desktop-3@1x.png") 647px 0 no-repeat;
    @media #{$retina} {
      background:
        url("/img/iphone-screen-desktop-1@2x.png") 4px 0 no-repeat,
        url("/img/iphone-screen-desktop-2@2x.png") 327px 0 no-repeat,
        url("/img/iphone-screen-desktop-3@2x.png") 647px 0 no-repeat;
    }
  }
}


