.form {
  margin-bottom: 54px;
  @media ($tablet-width) {
    margin-bottom: 46px;
  }
  @media ($desktop-width) {
    margin-bottom: 0;
  }
}
.form__wrap {
  @media ($tablet-width) {
    display: flex;
    flex-direction: column;
  }
  @media ($desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.form__title {
  margin: 0 auto;
  padding-top: 46px;
  padding-bottom: 24px;
  text-align: center;
  line-height: $height-big;
  font-weight: normal;
  font-size: $font-small;
  color: $darkblue;
  @media ($tablet-width) {
    margin-bottom: 40px;
    padding-top: 91px;
    padding-left: 70px;
    padding-right: 70px;
    font-size: $font-normal;
    line-height: $height-big;
  }
  @media ($desktop-width) {
    margin-bottom: 49px;
  }
}
.form__title-addtext {
  display: none;
  @media ($tablet-width) {
    display: inline;
  }
}
.form__subtitle {
  position: absolute;
  top: 20px;
  left: 8px;
  margin: 0;
  padding: 0;
  margin-top: 17px;
  padding-left: 30px;
  padding-right: 40px;
  text-align: center;
  text-transform: uppercase;
  line-height: $height-small;
  font-size: $font-small;
  color: $pink;
  @media ($tablet-width) {
    position: static;
    padding-left: 15px;
    padding-right: 17px;
  }
}
.form__label {
  padding-left: 22px;
  padding-top: 4px;
  padding-bottom: 5px;
  display: block;
  text-transform: uppercase;
  line-height: $height-big;
  font-size: $font-small;
  color: $pink;
  @media ($tablet-width) {
    padding: 0;
    padding-top: 18px;
    padding-right: 18px;
  }
}


.form__textarea {
  width: 280px;
  min-height: 198px;
  padding-bottom: 26px;
  outline: none;
  border: 2px solid #e5e5e5;
  &:hover {
    border-color: #283645;
  }
  &:focus {
    border-color: $pink;
  }
  @media ($tablet-width) {
    width: 500px;
    min-height: 193px;
    margin: 0 auto;
    padding-bottom: 18px;
  }
  @media ($desktop-width) {
    width: 820px;
    min-height: 125px;
    padding-bottom: 15px;
  }
}
.form__required-star {
  color: $pink;
}
.form__required-text {
  margin: 0 auto;
  margin-top: 37px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  font-size: $font-small;
  line-height: $height-big;
  text-transform: uppercase;
  @media ($tablet-width) {
    margin: 0;
    padding: 0;
    padding-top: 3px
  }
}
