.logo {
  width: 77px;
  @media ($tablet-width) {
    width: 150px;
  }
  @media ($desktop-width) {
    width: 150px;
  }
}

.logo__link {
  display: block;
  padding-top: 21px;
  @media ($tablet-width) {
    padding-top: 29px;
  }
  @media ($desktop-width) {
    padding-top: 0;
  }
}

.logo__img {

}
