.map {
  position: relative;
  height: 200px;
  background-color: $gray;
  @media ($tablet-width) {
    height: 380px;
  }
  @media ($desktop-width) {
    height: 500px;
  }
}
.map:before {
  content: '';
  position: absolute;
  width: 320px;
  height: 35px;
  top: 0;
  left: 0;
  background-image: url("../../img/bg-triangle-white-footer.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: 9999;
  @media ($tablet-width) {
    width: 700px;
    height: 75px;
  }
  @media ($desktop-width) {
    width: 1200px;
    height: 125px;
  }
}
