.map {
  position: relative;
  height: 200px;
  background-color: $gray;
  background-image: url("/img/bg-triangle-white-footer.svg");
  @media ($tablet-width) {
    height: 380px;
  }
  @media ($desktop-width) {
    height: 500px;
  }
}
//.map:before {
//  content: '';
//  position: absolute;
//  width: 320px;
//  height: 35px;
//  background-image: url("/img/bg-triangle-white.svg");
//  background-repeat: no-repeat;
//  z-index: 9999;
//}
