.name-block {
  margin: 0;
  padding-bottom: 30px;
  padding-left: 0;
  padding-right: 0;
  border: none;
  @media ($tablet-width) {
    padding-bottom: 5px;
  }
  @media ($desktop-width) {
    width: calc(100%/2 - 35px);
  }
}
.name-block__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
