.navigation {
  position: relative;
}
.navigation__link-wrap {
  position: absolute;
  right: -200px;
  @media ($mobile-width-only) {
    visibility: hidden;
  }
  @media ($desktop-width) {
    position: static;
    width: 620px;
    display: flex;
    justify-content: space-between;
  }
}
.navigation--open {
  .navigation__link-wrap {
    @media ($mobile-width-only) {
      visibility: visible;
    }
  }
}

.navigation__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 70px;
  height: 50px;
  font-size: 0;
  cursor: pointer;
  @media ($desktop-width) {
    display: none;
  }
}
.navigation__toggle--closed::after {
  content: "";
  position: absolute;
  top: 24px;
  left: 20px;
  width: 50px;
  height: 4px;
  background-color: #ffffff;
  box-shadow: 0 10px 0 0 #ffffff, 0 20px 0 0 #ffffff;
  @media ($tablet-width) {
    top: 44px;
  }
}
.navigation__toggle--opened {
  top: 0;
  right: 0;
}

.navigation__toggle--opened::before,
.navigation__toggle--opened::after {
  content: "";
  position: absolute;
  top: 24px;
  left: 18px;
  width: 36px;
  height: 2px;
  background-color: #ffffff;
}

.navigation__toggle--opened::before {
  transform: rotate(45deg);
}

.navigation__toggle--opened::after {
  transform: rotate(-45deg);
}

.navigation__link {
  display: block;
  padding: 16px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-family: $font;
  font-size: $font-normal;
  font-weight: bold;
  line-height: $height-big + 2px;
  color: #fff;
  @media ($mobile-width-only) {
    background-color: $darkblue;
    border-top: 1px solid #485460;
    border-bottom: 1px solid #000000;
  }
  @media ($desktop-width) {
    padding: 0;
    font-weight: normal;
    line-height: $height-small;
    text-transform: none;
  }
}


