.navigation {
  display: none;
  background-color: $darkblue;
  @media ($desktop-width) {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
  }
}

.navigation__toggle {
  @media ($desktop-width) {
    display: none;

  }
}

.navigation__link {
  display: block;
  padding: 16px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-family: $font;
  font-size: $font-normal;
  font-weight: bold;
  line-height: $height-big + 2px;
  color: #fff;
  @media ($desktop-width) {
    padding: 0;
    font-weight: normal;
    line-height: $height-small;
    text-transform: none;
  }
}


