
.page-header {
  background: url("../../img/bg-back-mobile.jpg");
  position: relative;
  &__nav {
    background-color: darkorange;
    @media ($tablet-width) {
      margin-bottom: 92px;
    }
    @media ($desktop-width) {
      margin-bottom: 110px;
    }
  }
  &__nav-wrap {
    @include container-fluid;
    min-height: 66px;
    @media ($tablet-width) {
      min-height: 110px;
    }
    @media ($desktop-width) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  &__app-wrap {
    @include container-fluid;
    @media ($tablet-width) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &__title {
    display: none;
    margin: 0;
    text-align: center;
    line-height: 50px;
    font-size: 40px;
    font-weight: 300;
    color: $white;
    @media ($tablet-width) {
      display: block;
      width: 300px;
      margin-bottom: 31px;
      padding-right: 40px;
      padding-left: 40px;
      line-height: 48px;
    }
    @media ($desktop-width) {
      margin-bottom: 49px;
      padding-right: 10px;
      padding-left: 10px;
      line-height: 60px;
      font-size: 50px;
    }
  }
}




