
.page-header {
  position: relative;
  background-repeat: no-repeat;
  background-color: #2a3848;
  background-image:
    url("/img/iphone-hand-mobile.png"),
    url("/img/bg-back-mobile.jpg");
  background-position:
    0 175px,
    0 0;
  @media #{$retina} {
    background-image:
      url("/img/iphone-hand-mobile@2x.png"),
      url("/img/bg-back-mobile@2x.jpg");
  }
  @media ($tablet-width) {
    background-image:
      url("/img/iphone-hand-tablet@1x.png"),
      url("/img/bg-back-tablet@1x.jpg");
    background-position:
      0 184px,
      0 0;
    @media #{$retina} {
        background-image:
          url("/img/iphone-hand-tablet@2x.png"),
          url("/img/bg-back-tablet@2x.jpg");
      }
  }
  @media ($desktop-width) {
    background-image: url("/img/bg-back-desktop.jpg");
    background-position: 0 0;
  }
}

  .page-header--simple {
    position: relative;
    background-color: #2a3848;
    background-image:  url("/img/bg-back-mobile.jpg");
    background-position: 0 0;
    @media #{$retina} {
      background-image: url("/img/bg-back-mobile@2x.jpg");
  }
  @media ($tablet-width) {
    background-image: url("/img/bg-back-tablet@1x.jpg");
    @media #{$retina} {
      background-image: url("/img/bg-back-tablet@2x.jpg");
    }
  }
  @media ($desktop-width) {
    background-image: url("/img/bg-back-desktop.jpg");
  }
}


.page-header__nav {
  background-color: rgba(0,0,0,0.3);
  @media ($tablet-width) {

  }
  @media ($desktop-width) {

  }
}

.page-header__nav-wrap {
  display: flex;
  justify-content: space-between;
  min-height: 66px;
  @media ($tablet-width) {
    min-height: 110px;
  }
  @media ($desktop-width) {
    align-items: center;
  }
}

.page-header__app-wrap {
  @include container-fluid;
  @media ($tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 92px;
  }
  @media ($desktop-width) {
    margin-top: 110px;
  }
}

.page-header__title {
  display: none;
  margin: 0;
  text-align: center;
  line-height: 50px;
  font-size: 40px;
  font-weight: 300;
  color: $white;
  @media ($tablet-width) {
    display: block;
    width: 300px;
    margin-bottom: 31px;
    padding-right: 40px;
    padding-left: 40px;
    line-height: 48px;
  }
  @media ($desktop-width) {
    margin-bottom: 49px;
    padding-right: 10px;
    padding-left: 10px;
    line-height: 60px;
    font-size: 50px;
  }
  &--form {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 53px;
    line-height: 29px;
    font-size: $font-big;
    @media ($tablet-width) {
      @include container-fluid;
      padding: 0;
      padding-top: 72px;
      padding-bottom: 80px;
      font-size: 50px;
      line-height: 60px;
    }
    @media ($desktop-width) {
      padding-top: 65px;
      padding-bottom: 100px;
    }
  }
  &--photo {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 83px;
    line-height: 29px;
    font-size: $font-big;
    @media ($tablet-width) {
      @include container-fluid;
      padding: 0;
      padding-top: 71px;
      padding-bottom: 139px;
      font-size: 50px;
      line-height: 60px;
    }
  }
}
