.plans {
  padding-top: 90px;
  padding-bottom: 96px;
  background-color: $gray;
  background-image: linear-gradient(176deg, $white 5%, $gray 5%);
  @media ($tablet-width) {
    padding-bottom: 71px;
    background-image: linear-gradient(176deg, #ffffff 12%, #f2f2f2 12%);
  }
  @media ($desktop-width) {
    padding-top: 150px;
    padding-bottom: 95px;
    background-image: linear-gradient(176deg, $white 14%, $gray 14%);
  }
}
.plans__wrap {
  overflow: hidden;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  @media ($tablet-width) {
    padding-left: 40px;
    padding-right: 40px;
  }
  @media ($desktop-width) {
    max-width: 940px;
    margin: 0 auto;
    padding: 0;
  }
}
.plans__input {
  display: none;
}
.plans__input:nth-child(2):checked ~ .plans__wrap .plan {
  @media (max-width: 699px) {
    transform: translateX(-100%);
  }  
  
}
.plans__input:nth-child(3):checked ~ .plans__wrap .plan {
  @media (max-width: 699px) {
    transform: translateX(-200%);
  }
}
.plans__controls {
  display: flex;
  justify-content: center;
  
  @media ($tablet-width) {
    display: none;
  }
}
.plans__controls label {
  margin: 5px;
  width: 12px;
  height: 12px;
  border: 3px solid $gray;
  background-color: #b5b9be;
  border-radius: 50%;
  font-size: 0;
}
.plans__input:checked ~ label {
  border-color: $darkblue;
}