.plans {
  display: flex;
  padding-top: 70px;
  padding-bottom: 96px;
  background-color: $gray;
  @media ($tablet-width) {
    padding-bottom: 27px;
  }
  @media ($desktop-width) {
    padding-bottom: 174px;
  }
}
