.plans {
  padding-top: 70px;
  padding-bottom: 96px;
  background-color: $gray;
  @media ($tablet-width) {
    padding-bottom: 27px;
  }
  @media ($desktop-width) {
    padding-bottom: 174px;
  }
}
.plans__wrap {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  @media ($tablet-width) {
    padding-left: 40px;
    padding-right: 40px;
  }
  @media ($desktop-width) {
    max-width: 940px;
    margin: 0 auto;
  }
}
