.post__wrap {
  @media ($tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .post {
    @media ($tablet-width) {
      width: calc(50% - 20px);
    }
    @media ($desktop-width) {
      width: calc((100% - 40px) / 3);
    }
  }
}
.post {
  display: flex;
  flex-direction: column;

}
.post--post-of-day {
  .post__img-wrap {
    margin-left: -$container-padding-mobile;
    margin-right: -$container-padding-mobile;
    @media ($tablet-width) {
      margin-left: -$container-padding-tablet;
      margin-right: -$container-padding-tablet;
    }
    @media ($desktop-width) {
      margin-left: -130px;
      margin-right: -130px;
    }
  }
}

.post__img {
  width: 100%;
}

.post__text {
  flex-grow: 1;
}
