.radio-block {
  display: flex;
  position: relative;
  margin: 0;
  margin-left: -$container-padding-mobile;
  margin-right: -$container-padding-mobile;
  padding-top: 114px;
  padding-bottom: 0;
  padding-left: 21px;
  border: none;
  background-color: $gray;
  @media ($tablet-width) {
    order: 2;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 57px;
    padding-top: 51px;
    padding-bottom: 10px;
    padding-left: 59px;
    background-color: $white;
    border: 2px solid #e5e5e5;
  }
  @media ($desktop-width) {
    width: calc(100%/2 - 35px);
  }
}
