.review {
  padding-top: 40px;
  margin-bottom: 85px;
  @media ($tablet-width) {
    margin-bottom: 50px;
    padding-top: 75px;
  }
  @media ($desktop-width) {
    margin-bottom: 26px;
    padding-top: 186px;
    background-image: url("../../img/icon-quotes.svg");
    background-repeat: no-repeat;
    background-position: 50% 22%;
  }
}

.review-slider__slide {
  display: none;
  @media ($tablet-width) {
    flex-direction: column-reverse;
    align-items: center;
  }
}
#review1:checked ~ .review-slider .review-slider__slide:nth-child(1) {
  display: block;
  @media ($tablet-width) {
    display: flex;
  }
}
#review2:checked ~ .review-slider .review-slider__slide:nth-child(2) {
  display: block;
  @media ($tablet-width) {
    display: flex;
  }
}
#review3:checked ~ .review-slider .review-slider__slide:nth-child(3) {
  display: block;
  @media ($tablet-width) {
    display: flex;
  }
}


.review__controls {
  display: flex;
  justify-content: center;
  cursor: pointer;
  @media ($tablet-width) {

  }
}
.review__input {
  display: none;
}
.review__controls label {
  margin: 5px;
  width: 12px;
  height: 12px;
  border: 3px solid $gray;
  background-color: #b5b9be;
  border-radius: 50%;
  font-size: 0;
}
.review__controls:checked ~ label {
  border-color: $darkblue;
}
