.review {
  padding-top: 40px;
  margin-bottom: 85px;
  @media ($tablet-width) {
    margin-bottom: 50px;
    padding-top: 75px;
  }
  @media ($desktop-width) {
    margin-bottom: 26px;
    padding-top: 186px;
    background-image: url("/img/icon-quotes.svg");
    background-repeat: no-repeat;
    background-position: 50% 22%;
  }
}

.review__wrap {

}

