.social-footer {
  display: none;
  @media ($tablet-width) {
    display: block;
  }
  &__wrap {
    @include container-fluid;
    min-height: 128px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    width: 33%;
  }
}
