.social {
  display: flex;
  width: 178px;
  justify-content: space-between;
  margin-bottom: 35px;
  @media ($tablet-width) {
    margin: 0;
    margin-right: 25px;
    margin-top: 7px;
    padding: 0;
  }
}
.social__icon {
  display: inline-block;
  vertical-align: top;
  text-indent: -9999px;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: 3px solid $gray;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  &--twitter {
    background-image:  url("/img/icon-twitter.svg");
  }
  &--facebook {
    background-image:  url("/img/icon-facebook.svg");
  }
  &--youtube {
    background-image:  url("/img/icon-youtube.svg");
  }


}
